<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unofficial DCS Companion.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F3ECAB232DBD4CCC88F654A8CE8E398B8E8147C5</string>
				<key>dateExpires</key>
				<string>4/2/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3ECAB232DBD4CCC88F654A8CE8E398B8E8147C5</string>
						<key>dateExpires</key>
						<string>4/2/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q4JA6W59LT</string>
						<key>name</key>
						<string>FERRAN PONS SANCHEZ</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3ECAB232DBD4CCC88F654A8CE8E398B8E8147C5</string>
						<key>dateExpires</key>
						<string>4/2/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q4JA6W59LT</string>
						<key>name</key>
						<string>FERRAN PONS SANCHEZ</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3ECAB232DBD4CCC88F654A8CE8E398B8E8147C5</string>
						<key>dateExpires</key>
						<string>4/2/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q4JA6W59LT</string>
						<key>name</key>
						<string>FERRAN PONS SANCHEZ</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q4JA6W59LT.com.skyvector.app.ios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Q4JA6W59LT</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Unofficial DCS Companion.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8c9e3e23-da2b-421b-8f3f-60a1563c92b2</string>
				<key>dateExpires</key>
				<string>4/2/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.skyvector.app.ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q4JA6W59LT</string>
				<key>name</key>
				<string>FERRAN PONS SANCHEZ</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
