<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.multiplatformkickstater.com/dcs.ipa</string>
		<key>displayImageURL</key>
		<string>https://www.multiplatformkickstater.com/dcs.ipa</string>
		<key>fullSizeImageURL</key>
		<string>https://www.multiplatformkickstater.com/dcs.ipa</string>
	</dict>
	<key>method</key>
	<string>debugging</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Q4JA6W59LT</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
