sudo: required
language: csharp
#services:
#  - docker

before_install:
  - wget https://dl.itch.ovh/butler/linux-amd64/head/butler
  - wget http://www.monogame.net/releases/v3.6/monogame-sdk.run
  - find * -type f -exec chmod 777 {} \; # lazy just make all executable
  - wget https://gist.githubusercontent.com/ferranpons/1815fc02ffb744e7e06ccdabf42363da/raw/2d637e37e91131e075a4897abb98e1f7c240d443/twitterUpdate.py
  - source version.properties
  - export MAJOR MINOR PATCH
  - export SNAPSHOT_NOW=$(date +"%Y%m%d%H%M")

  #- docker pull suchja/wix WIX Not needed for now

install:
  - sudo pip install tweepy

  # Install Monogame and dependencies
  # Extracted from http://community.monogame.net/t/running-monogame-sdk-run-on-linux-without-confirmation-travis-ci/9567
  - sudo apt-get install gtk-sharp3
  - sudo apt-get install libopenal-dev referenceassemblies-pcl ttf-mscorefonts-installer
  - echo y | sudo ./monogame-sdk.run
  - nuget restore

  # Install Butler
  - cp ./butler ~/bin
  - export PATH="$PATH:~/bin"

  # Install NUnit for Tests
  #- nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner

  # Intall Wine
  #- ./travis/install_wine.sh
  #- sudo apt-get install wine
script:
  - find * -type f -exec chmod 777 {} \;
  - msbuild /t:ZombustersWindows /p:Configuration=Release ZombustersWindows.sln
  - msbuild /t:ZombustersMac /p:Configuration=Release ZombustersMac.sln

  # Tests
  #- mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./MonoGameSample.UnitTests/bin/Debug/MonoGameSample.UnitTests.dll
  #- (cd ZombustersWindows/Content && mono /opt/monogame-pipeline/MGCB.exe /rebuild /@:"Content.mgcb" /outputDir:"../bin/Release/Content")

deploy:
  - provider: script
    script:
      ./travis/release.sh
    on:
      tags: true
    skip_cleanup: true

  - provider: script
    script:
      ./travis/beta.sh
    on:
      branch: master
    skip_cleanup: true

after_deploy:
  - ./travis/tweetAfterDeploy.sh
