<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bugsnag" version="2.2.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Facepunch.Steamworks" version="2.3.3" targetFramework="net461" />
  <package id="GameAnalytics.Mono.SDK" version="3.0.6" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="MonoGame.Content.Builder" version="3.6.0.1" targetFramework="net45" />
  <package id="MonoGame.Extended.Content.Pipeline" version="0.6.568" targetFramework="net45" />
  <package id="MonoGame.Framework.Content.Pipeline.Portable" version="3.6.0.1625" targetFramework="net45" />
  <package id="MonoGame.Framework.DesktopGL" version="3.5.1.1679" targetFramework="net47" />
  <package id="MonoGame.Framework.MacOS" version="3.6.0.1625" targetFramework="net45" />
  <package id="MonoGame.Framework.Portable" version="3.6.0.1625" targetFramework="net45" />
  <package id="MonoGame.Framework.WindowsDX" version="3.4.0.459" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.3.8" targetFramework="net461" />
</packages>